PORT=4010
CHAT_DATABASE_HOST=/Applications/ServBay/tmp
CHAT_DATABASE_PORT=5432
CHAT_DATABASE_NAME=galiaf_chat
CHAT_DATABASE_ADMIN_NAME=postgres
CHAT_DATABASE_USER=dmitrijsepelev
CHAT_DATABASE_PASSWORD=
REDIS_URL=redis://:1234@127.0.0.1:6379
CHAT_PRESENCE_TTL_SECONDS=45
CHAT_PRESENCE_HEARTBEAT_SECONDS=15
AUTH_MODE=dev
AUTH_AUDIENCE=galiaf-chat-service
AUTH_ISSUER_URL=http://localhost:8081/realms/galiaf
AUTH_JWKS_URI=
AUTH_DEV_BYPASS_ENABLED=true
AUTH_ALLOWED_CORS_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:3002,http://localhost:3003,http://localhost:8081
AUTH_ADMIN_WEB_CLIENT_ID=galiaf-admin-portal
AUTH_MANAGER_WEB_CLIENT_ID=galiaf-manager-cabinet
AUTH_EMPLOYEE_WEB_CLIENT_ID=galiaf-employee-cabinet
AUTH_MOBILE_CLIENT_ID=galiaf-mobile-app
